<div id="<%= dom_id persona %>">
  <p>
    <strong style="color: green">Nombre:</strong>
    <%= persona.nombre %>
  </p>

  <p>
    <strong style="color: green">Apellido:</strong>
    <%= persona.apellido %>
  </p>

  <p>
    <strong style="color: green">Nacimiento:</strong>
    <%= persona.nacimiento %>
  </p>

  <p>
    <strong style="color: green">Dni:</strong>
    <%= persona.dni %>
  </p>

  <p>
    <strong style="color: green">Edad de la persona:</strong>
    <%= persona.nacimiento %>
  </p>

  <p>
    <strong style="color: green">Mes de nacimiento:</strong>
    <%= persona.nacimiento %>
  </p>  

  <p>
    <strong style="color: green">Edad promedio del grupo:</strong>
    <%= persona.nacimiento %>
  </p>

</div>